startup_commands              toggle_visual_scroll;toggle_custom_color;toggle_smooth_scroll

ruler_mode                    1
ruler_padding                 2.0

super_fast_search             1
case_sensitive_search         0

smooth_scroll_speed           1
smooth_scroll_drag            3000

ui_font                       Maple Mono SemiBold
font_size                     18
status_bar_font_size          18
linear_filter                 0

background_color              0.85 0.85 0.85
dark_mode_background_color    0.0 0.0 0.0
dark_mode_contrast		  	  0.75

custom_background_color       0.09 0.08 0.09
custom_text_color             0.70 0.58 0.55

text_highlight_color          0.69 0.75 0.71
visual_mark_color             0.09 0.08 0.09 0.6

status_bar_text_color         0.70 0.58 0.55
status_bar_color              0.13 0.11 0.13

ui_background_color           0.13 0.11 0.13
ui_text_color                 0.70 0.58 0.55
ui_selected_background_color  0.70 0.58 0.55
ui_selected_text_color        0.13 0.11 0.13

new_command _download_paper python -m sioyek.paper_downloader download "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{paper_name}" "%{selected_text}"
control_click_command _download_paper

new_command _dual_panelify python -m sioyek.dual_panelify "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{file_path}" "%{command_text}"

new_command _embed_annotations python -m sioyek.embed_annotations "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%{file_path}"

new_command _extract_highlights python -m sioyek.extract_highlights "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

new_command _import_annotations python -m sioyek.import_annotations "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%{file_path}"

new_command _remove_annotations python -m sioyek.remove_annotation "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

new_command _add_text python -m sioyek.add_text "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"

new_command _add_red_text python -m sioyek.add_text "%{/Applications/sioyek.app/Contents/MacOS/sioyek}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
