# -----------------------------------------------------------------
# General Settings
# -----------------------------------------------------------------

start-at-login = true
key-mapping.preset = 'qwerty'

# Defaults; don't know what they actually do
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# Split along primary axis
default-root-container-orientation = 'auto'

automatically-unhide-macos-hidden-apps = true

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Default to overlayed windows
default-root-container-layout = 'accordion'
# Margin bleed
accordion-padding = 5

# -----------------------------------------------------------------
# Environment Variables
# -----------------------------------------------------------------

[exec]
inherit-env-vars = true

[exec.env-vars]
PATH = '/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

# -----------------------------------------------------------------
# padding
# -----------------------------------------------------------------

[gaps]
inner.horizontal = 2
inner.vertical = 2
outer.top = 2
outer.bottom = 4
outer.left = 6
outer.right = 6

# -----------------------------------------------------------------
# Keybindings
# -----------------------------------------------------------------

# default mode
[mode.main.binding]

alt-left = 'focus left'
alt-down = 'focus down'
alt-up = 'focus up'
alt-right = 'focus right'

alt-comma = 'layout tiling floating'
alt-period = 'layout accordion tiles'
alt-slash = 'layout horizontal vertical'

alt-enter = 'macos-native-fullscreen'

alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# go to
alt-0 = 'workspace 0'
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'

# next/prev workspace
alt-leftSquareBracket = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace --wrap-around prev'
alt-rightSquareBracket = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace --wrap-around next'

# dispatch
alt-shift-0 = 'move-node-to-workspace 0'
alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace 9'

# Enter service mode
alt-semicolon = 'mode service'

# Define service mode
[mode.service.binding]

# escape service mode
esc = ['mode main']

# reload config
r = ['reload-config', 'mode main']

# NOTE: Following cmds preserve service mode
# as they tend to be repeated and/or combined

# Focus container
left = ['focus left', 'mode service']
down = ['focus down', 'mode service']
up = ['focus up', 'mode service']
right = ['focus right', 'mode service']

# Reposition container
alt-left = ['move left', 'mode service']
alt-down = ['move down', 'mode service']
alt-up = ['move up', 'mode service']
alt-right = ['move right', 'mode service']

# Nest container
alt-shift-left = ['join-with left', 'mode service']
alt-shift-down = ['join-with down', 'mode service']
alt-shift-up = ['join-with up', 'mode service']
alt-shift-right = ['join-with right', 'mode service']

# Flatten container
f = ['flatten-workspace-tree', 'mode service']

# Rezise container
minus = ['resize smart -50', 'mode service']
equal = ['resize smart +50', 'mode service']


# -----------------------------------------------------------------
# Application rules
# -----------------------------------------------------------------

#
# 0: Terminal
#

[[on-window-detected]]
if.app-name-regex-substring = 'terminal'
run = ['layout tiling', 'move-node-to-workspace 0']

[[on-window-detected]]
if.app-name-regex-substring = 'kitty'
run = ['layout tiling', 'move-node-to-workspace 0']

[[on-window-detected]]
if.app-name-regex-substring = 'console'
run = ['layout tiling', 'move-node-to-workspace 0']

#
# 1: Browser
#

[[on-window-detected]]
if.app-name-regex-substring = 'zen'
run = ['layout tiling', 'move-node-to-workspace 1']

[[on-window-detected]]
if.app-name-regex-substring = 'safari'
run = ['layout tiling', 'move-node-to-workspace 1']

#
# 2: Email
#

[[on-window-detected]]
if.app-name-regex-substring = 'Mail'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-name-regex-substring = 'Outlook'
run = ['move-node-to-workspace 2']

#
# 3: Writing
#

[[on-window-detected]]
if.app-name-regex-substring = 'iA Writer'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-name-regex-substring = 'Pages'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-name-regex-substring = 'Word'
run = ['move-node-to-workspace 3']

#
# 4: Reference
#

[[on-window-detected]]
if.app-name-regex-substring = 'ChatGPT'
if.window-title-regex-substring = 'ChatGPT'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-name-regex-substring = 'Zotero'
run = ['move-node-to-workspace 4']

#
# 5: Chat
#

[[on-window-detected]]
if.app-name-regex-substring = 'Messages'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-name-regex-substring = 'Signal'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-name-regex-substring = 'Beeper'
run = ['move-node-to-workspace 5']

#
# 9: Entertainment
#

[[on-window-detected]]
if.app-name-regex-substring = 'Spotify'
run = ['move-node-to-workspace 9']

[[on-window-detected]]
if.app-name-regex-substring = 'stremio'
run = ['move-node-to-workspace 9']

[[on-window-detected]]
if.app-name-regex-substring = 'Boosteroid'
run = ['move-node-to-workspace 9']

#
# Ignore otherwise
#
[[on-window-detected]]
run = ['layout floating']
